<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<%= devise_error_messages! %>

<div class="field my-3">
  <%= f.label :name, 'Имя' %><br />
  <%= f.text_field :name %>
</div>


<div class="field my-3">
  <%= f.label :email, 'Почта' %><br />
  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
</div>

<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
<% end %>

<div class="field my-3">
  <%= f.label :password, 'Пароль' %> <i>(оставьте пустым, если не хотите его менять)</i><br />
  <%= f.password_field :password, autocomplete: "new-password" %>
  <% if @minimum_password_length %>
  <br />
  <em><%= @minimum_password_length %> символов минимум</em>
  <% end %>
</div>

<div class="field my-3">
  <%= f.label :password_confirmation, 'Подтверждение пароля' %><br />
  <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
</div>

<div class="field my-3">
  <%= f.label :avatar, 'Аватар' %><br />
  <%= f.file_field :avatar %>
</div>

<div class="field">
  <%= f.label :current_password, 'Текущий пароля' %> <i>(введите пароль для сохранения данных)</i><br />
  <%= f.password_field :current_password, autocomplete: "current-password" %>
</div>

<div class="actions">
  <%= f.submit "Обновить", class: 'my-3' %>
</div>
<% end %>

<%= button_to "Удалить аккаунт", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'my-3' %></p>

<%= link_to "назад", :back %>