<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

    <div class="field my-3">
    <%= f.label :name, 'Имя' %><br />
    <%= f.text_field :name %>
  </div>


  <div class="field my-3">
    <%= f.label :email, 'Почта' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field my-3">
    <%= f.label :password, 'Пароль' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> символов минимум)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field my-3">
    <%= f.label :password_confirmation, 'Подтверждение пароля' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field my-3">
  <%= f.label :avatar, 'Аватар' %><br />
  <%= f.file_field :avatar %>
</div>

  <div class="actions my-3">
    <%= f.submit "Регистрация" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
