<%= form_with scope: :comment, url: [@post, @post.comments.build] do |f| %>
<div class="form-group">
  Текст: <%= f.text_area :body %>
</div>
<%= f.submit 'Отправить', class: 'btn table-primary border border-primary'  %>
<% end %>
