<% if user_signed_in? %>
<% @users.each do |user| %>
<p>
  <% if user.avatar.attached? %>
  <%= image_tag user.avatar, size: "60x60", class: 'rounded-circle' %>
  <% end %>
  <%= link_to user.name, user_path(user)%>
</p>
<% end %>
<% else %>
<div class="nav-item d-flex justify-content-center py-5">
  <%= link_to 'Войти', new_user_session_path, class: 'nav-link btn table-primary border border-primary w-25' %>
</div>

<p class="text-center">Еще нет аккаунта:</p>
<div class="nav-item d-flex justify-content-center">
  <%= link_to 'Зарегистрируйтесь', new_user_registration_path, class: 'nav-link btn table-primary border border-primary w-25' %>
</div>
<% end %>