<% if @user.id ==  current_user.id%>
<div class="text-center d-flex justify-content-between pb-5">
  <span class="text-uppercase">
    <% if current_user.avatar.attached? %>
    <%= image_tag current_user.avatar, size: "60x60", class: 'rounded-circle' %>
    <% end %>
    <%= current_user.name %>
  </span>
  <div>
    <p>Добавить фото в ленту</p>
    <%= render 'posts/form' %>
  </div>
  <nav>
    <%= link_to image_tag("edit.png", width: '40', height: '40'), edit_user_registration_path(current_user), class: 'pt-4' %>
    <%= link_to image_tag("logout.png", width: '40', height: '40'), destroy_user_session_path, method: :delete, class: 'pt-4' %>
  </nav>
</div>
<% else %>
<span class="text-uppercase">
  <% if @user.avatar.attached? %>
  <%= image_tag @user.avatar, size: "60x60", class: 'rounded-circle' %>
  <% end %>
  <%= @user.name%>
</span>
<% end %>

<% @posts.each_with_index do |post, index| %>
  <div class='py-5 d-flex justify-content-between border-bottom border-top'>
    <% if post.photos.attached? %>
    <span>
      <div id="carouselExampleControls<%= index %>" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag post.photos.first, size: "200x200", class: "d-block"  %>
          </div>
          <% post.photos.drop(1).each do |photo| %>
            <div class="carousel-item">
              <%= image_tag photo, size: "200x200", class: "d-block"    %>
            </div>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls<%= index %>" role="button" data-slide="prev">
          <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls<%= index %>" role="button" data-slide="next">
          <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
          <span class="sr-only">Next</span>
        </a>
      </div>
      <%= post.user.name %>:
      <%= post.description %>
</span>
    <% end %>
    
  <ol id="comments">
    <p>Коментарии:</p>
    <%= render post.comments %>
  </ol>


<%= link_to 'новый коментарий', new_post_comment_path(post), class: 'pt-4' %>



  <%= form_with scope: :comment, url: [post, post.comments.build] do |f| %>
    <div class="form-group">
          <%= f.text_area :body, placeholder: 'добавить коментарий', class: 'form-control' %>
    </div>
    <%= f.submit 'Отправить', class: 'btn border border-primary' %>
  <% end %>
</div>
<% end %>








