<div class="input-group">
  <%= form_with model: @post, local: true do |f| %>
    <%= f.label :photos, 'фотографии', class: 'custom-file-label'  %>
    <%= f.file_field :photos, class: 'custom-file-input', multiple: true  %>

    <%= f.text_area :description, placeholder: 'коментарий', class: 'form-control' %>

    <%= f.submit 'Отправить', class: 'btn  border border-primary' %>
  <% end %>
</div>