<!DOCTYPE html>
<html>
<head>
  <title>Insta</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="bg-light">
  <div class="container">
    <div class="d-flex">
    <h1 class="py-3 text-center w-75"><%= link_to 'INSTA', users_path, class: 'pt-4' %></h1>
      <% if user_signed_in? %>
        <%= link_to image_tag("icon.png", width: '40', height: '40'), user_path(current_user), class: 'pt-4' %>
    <% end %>
    </div>
    <hr>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
</body>
</html>